// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', 'Noto Sans TC', sans-serif;
$font-size-base: 1rem;
$font-size-base-md: 0.975rem;
$line-height-base: 1.6;

// Colors
// $blue: #3490dc;
// $indigo: #6574cd;
// $purple: #9561e2;
// $pink: #f66d9b;
// $red: #e3342f;
// $orange: #f6993f;
// $yellow: #ffed4a;
// $green: #38c172;
// $teal: #4dc0b5;
// $cyan: #6cb2eb;

// Dashboard
$color-main: #e3793c;
// $color-User: #e3793c;   /* 未使用 */
// $color-Admin: #F6CA00;  /* 未使用 */
// $color-Deliveryman: #9CBE20;    /* 未使用 */

$color-active-title: #415583;
$color-black: #000;
$color-white: #FFF;
$color-text-dark: #484848;
$color-text-light: #999999;
$bgColor-grey: #f5f5f5;
$bgColor-light: #f8f8f8;

$Header-height: 63px;
$Header-height-sm: 50px;
$Header-breadcrumb-height: 100px;
$Sidebar-width: 250px;

/* Toast */
$toast-color: #004085;
$toast-background-color: #cce5ff;
$toast-border-color: #b8daff;
$toast-header-color: #004085;