/* Variables */
// @import 'variables';
/* Bootstrap */
// @import '~bootstrap/scss/functions';
// @import '~bootstrap/scss/variables';
// @import '~bootstrap/scss/mixins';
// @import '~bootstrap/scss/grid';
@import 'dashboard';

html,
body {
  background-color: transparent;
  min-width: 100%;
}

a {
  text-decoration: none;
}
a.-text:hover {
  text-decoration: underline;
}

h2,
h6 {
  color: $color-active-title;
}

div.card h6 {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}
div.card h6:not(:first-child) {
  margin-top: 1rem;
}

.form-check {
  font-size: 1rem;
}
.form-check-input {
  width: 1.1rem;
  height: 1.1rem;
  margin-top: 0.2rem;
}
th > input.form-check-input[type=checkbox]:checked,
td > input.form-check-input[type=checkbox]:checked,
div:not(.form-switch) > input.form-check-input[type=checkbox]:checked,
div:not(.form-switch) > input.form-check-input[type=checkbox]:indeterminate,
div:not(.form-switch) > label input.form-check-input[type=checkbox]:checked,
div:not(.form-switch) > label input.form-check-input[type=checkbox]:indeterminate {
  background-position: center;
  background-size: 140%;
}

.icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icon.-move {
  cursor: move;
}
.icon .bi {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon.-x .bi-x {
  font-size: 2.2rem;
}
.card .icon,
.tableList .icon {
  width: 40px;
  height: 40px;
  margin: auto;
  vertical-align: middle;
}
.input-group .icon {
  font-size: 1rem;
  line-height: 1rem;
}

i.bi-question-circle {
  display: inline-block;
  cursor: pointer;
  margin-left: 3px;
}

.border-dashed {
  border-style: dashed !important;
}

/* 
 * Table 列表
 */
.tableOverBox {
  margin: 0 -1.5rem;
}
.tableOverBox .tableList th:first-child,
.tableOverBox .tableList td:first-child {
  padding-left: 1.5rem;
}
.tableOverBox .tableList th:last-child,
.tableOverBox .tableList td:last-child {
  padding-right: 1.5rem;
}

.tableList th,
.tableList td {
  white-space: nowrap;
}
.tableList th.wrap,
.tableList td.wrap {
  white-space: normal;
  line-height: 1.8rem;
}
.tableList tbody th,
.tableList tbody td {
  line-height: 40px;
  vertical-align: middle;
}
.tableList th > input.form-check-input[type=checkbox],
.tableList td > input.form-check-input[type=checkbox],
.tableList div:not(.form-switch) > input.form-check-input[type=checkbox],
.tableList div:not(.form-switch) > label input.form-check-input[type=checkbox] {
  margin: -3px 0 0;
  vertical-align: middle;
}
.tableList input.form-control,
.tableList .input-group > input.form-control,
.tableList select.form-select {
  min-width: 100px;
}
.tableList select.form-select {
  width: auto;
}
.tableList input.form-control.-l,
.tableList .input-group > input.form-control.-l,
.tableList select.form-select.-l {
  min-width: 130px;
}
.tableList input.form-control.-xl,
.tableList .input-group > input.form-control.-xl,
.tableList select.form-select.-xl {
  min-width: 400px;
}
.tableList>:last-child>:last-child>* {
  border-bottom-width: 0;
}

/*
 * 分頁 
 */
nav ul.pagination {
  margin-bottom: 0;
}
nav ul.pagination .page-link {
  width: 30px;
  height: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/*
 * 元件: chip
 */
// .chipGroup {}
.chipGroup {
  .chipElem {
    height: 24px;
    min-width: max-content;
    line-height: 24px;
    font-size: .9rem;
    display: inline-flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 2px;
    margin-left: 6px;
    margin-bottom: 5px;
  }
  .chipElem button {
    height: 20px;
    width: 20px;
    padding: 0;
    margin-left: 8px;
    font-size: 1rem;
      line-height: 11px;
  }
  
  @include media-breakpoint-up(md) {
    .chipElem button {
      font-size: 14px;
    }
  }
}


/*
 * 日期快速鍵 
 */
button[data-daysBefore] {
  color: #212529;
  border-color: #ced4da;
  background-color: #f8fafc;
}
button[data-daysBefore]:hover {
  color: $color-white;
  border-color: $primary;
  background-color: $primary;
}

/*
 * 步驟標籤 
 */
span.badge.-step {
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 500;
  margin-right: 12px;
  padding-top: 0.45em;
  color: $color-white;
  background-color: $color-main;
}


/*
 * 物流歷程 
 */
#order-flow p.h5 {
  font-size: 18px;
}
#flow-list h6,
#flow-list p {
  font-size: 17px;
  color: $color-text-light;
}
#flow-list li:first-child h6,
#flow-list li:first-child p {
  color: $primary;
}
#flow-list p {
  margin-bottom: 0px;
}
#flow-list p > span:not(:first-child) {
  padding-left: 20px;
}
#flow-list > ul {
  padding-left: 24px;
  list-style: none;
}
#flow-list > ul > li {
  margin-top: 20px;
  position: relative;
}
#flow-list > ul > li::before {
  content: '';
  color: transparent;
  font-size: 0;
  position: absolute;
  background-color: $color-text-light;
  border-radius: 50%;
  display: block;
  height: 9px;
  width: 9px;
  left: -22px;
  top: 4px;
}
#flow-list > ul > li:first-child::before {
  width: 13px;
  height: 13px;
  left: -24px;
  top: 2px;
}
#flow-list > ul > li:not(:last-child)::after {
  content: '';
  color: transparent;
  font-size: 0;
  position: absolute;
  background-color: $color-text-light;
  display: block;
  height: calc(100% + 20px);
  width: 0;
  top: 4px;
  left: -18px;
  border-left: 1px solid $color-text-light;
}



/*
 * 表單元件
 */
input.form-control,
.input-group > input.form-control,
select.form-select {
  min-width: min-content;
}

select.form-select optgroup {
  background-color: #CCCCCC;
}
select.form-select optgroup option {
  background-color: #f8fafc;
}
// Date input 
input.form-control[type="date"],
input.form-control[type="month"] {
  position: relative;
}
input.form-control[type="date"]::-webkit-calendar-picker-indicator,
input.form-control[type="month"]::-webkit-calendar-picker-indicator {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  background-position: right 5px center;
  background-size: 20px;
  background-color: transparent;
}
// checkbox .form-switch 大
.form-switch.form-switch-lg {
  .form-check-input {
    height: 1.5rem;
    width: 2.75rem;
    background-size: 62%;
    background-position-x: -10%;
    margin-top: 0;
  }
  .form-check-input:checked {
    background-position-x: 110%;
  }

  .form-check-label {
    .form-check-input {
      margin-right: .8rem;
    }
  }
}

/*
 * Toast 
 */
@mixin toast-variant($background, $border, $color) {
  color: $color;
  @include gradient-bg($background);
  border-color: $border;
}
@each $state, $value in $theme-colors {
  $toast-background: shift-color($value, $alert-bg-scale);
  $toast-border: shift-color($value, $alert-border-scale);
  $toast-color: shift-color($value, $alert-color-scale);
  @if (contrast-ratio($toast-background, $toast-color) < $min-contrast-ratio) {
    $toast-color: mix($value, color-contrast($toast-background), abs($alert-color-scale));
  }

  .toast-#{$state} {
    @include toast-variant($toast-background, $toast-border, $toast-color);
    .toast-header {
      color: $toast-color;
    }
  }
}

/*
 * Header btn 
 */
.d-flex .btn.-in-header {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  line-height: 1.5;
}
.d-flex .btn.-in-header:not(:last-child) {
  margin-right: 0.5rem;
}
.d-flex .btn.-in-header i.bi {
  padding: 0 0.25rem 0 0;
  font-size: 18px;
  line-height: 1;
}

/* 
 * 字數
 */
 .show_words_length {
  position: relative;
}
.show_words_length::after {
  content: attr(data-after);
  position: absolute;
  right: 12px;
  bottom: 10px;
  font-size: .7rem;
  color: #999;
  background-color: $input-bg;
}
.is-invalid ~ .show_words_length::after {
  right: 38px;
}

/*
 * 商品頁 layout - pm_* 
 */
.pm_btnGroup  {
  .icon {
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.2rem;
    vertical-align: top;
    margin-top: auto;
    margin-bottom: auto;
  }
  
  a span.icon {
    margin-right: -5px;
  }

  a.nav-link {
    padding: 0 1rem 0 0;
  }
}
.pm_navbar {
  border-bottom: 0px;

  &.nav-tabs .nav-link.active,
  &.nav-tabs .nav-link.active:focus,
  &.nav-tabs .nav-link.active:hover {
    background-color: transparent;
    border-width: 0;
    border-bottom: 3px solid #999999;
    margin-bottom: -2px;
    color: #007bff;
  }
  &.nav-tabs .nav-link:focus,
  &.nav-tabs .nav-link:hover {
    border-color: transparent;
    border-bottom-color: $nav-tabs-border-color;
  }

  a.nav-link {
    color: #999999;
  }

  & + .narbarBottomLine {
    margin: 0 -1.5rem;
  }
}

/*
 * 圖片上傳 
 */
// 圖片上傳區
.upload_image_block {
  position: relative;
  vertical-align: top;
}
// 拖曳檔樣式
.upload_image_block.is-dragover {
  background-color: rgba(0, 0, 0, 0.1);
}
// 圖片box
.upload_image_block span.browser_box {
  position: relative;
  margin: 0 15px 15px 0;
  width: 120px;
  height: 120px;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px dashed;
}
.upload_image_block span.browser_box.box {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
}
.upload_image_block span.browser_box img {
  max-width: 100%;
  max-height: 100%;
}
.upload_image_block span.browser_box + .progress {
  width: 120px;
  position: absolute;
  top: 104px;
}
// 含標題的圖片box
.upload_image_block.-label span.browser_box {
  margin-bottom: 8px;
}
.upload_image_block.-label span.browser_box ~ label {
  font-size: 12px;
  text-align: center;
  margin-right: 15px;
}
.upload_image_block.-label > label,
.upload_image_block.-label .sortabled > label,
.upload_image_block.-label .sortabled > div {
  display: flex;
  flex-direction: column;
}
// icon btn
.upload_image_block .icon {
  width: 30px;
  height: 30px;
  font-size: 1.2rem;
  vertical-align: top;
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  color: $primary;
  border-radius: 50%;
  background-color: $color-white;
}
// 圖片拖曳排序鈕
.upload_image_block .box > .icon.-move {
  top: 0;
  left: 0;
}
// 圖片刪除鈕
.upload_image_block .box > .icon.-x {
  top: 0;
  right: 0;
}
// 多圖片可排序區塊
.upload_image_block.-multiple .sortabled,
.upload_image_block.-multiple .sortabled > div,
.upload_image_block.-multiple .sortabled > label {
  display: inline-flex;
  vertical-align: top;
  flex-wrap: wrap;
  position: relative;
}