:root {
  --color-main: #e3793c;
  --color-Admin: #F6CA00;  /* 管理員 */
  --color-User: #59bfe2;   /* 託運商 */
  --color-Deliveryman: #9CBE20;    /* 物流人員 */
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bg-main {
  background-color: var(--color-main);
}
.bg-Admin {
  background-color: var(--color-Admin);
}
.bg-User {
  background-color: var(--color-User);
}
.bg-Deliveryman {
  background-color: var(--color-Deliveryman);
}